/*INIZIO PRIMO BLOCCO PAGINA*/
:root{
    font-family: poppins, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
  }
  #header_content{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .first_h{
    width: 100%;
   background-color:#010653;
   color:rgb(191, 157, 4);
     font-family: 'VT323', monospace;
    text-align: center;
   padding: 1px;
    margin-top: 0;
    font-size: 20px;
  }
  
  .second_h{
    width: 100%;
    background-color:#010653;
    display: flex;
    justify-content: center;
  }
  .nav_f{
    margin-right: 10em;
    margin-top: 2em;
  }
  .nav_s{
    margin-left: 2em;
  }
  .icons{
    margin-left: -2.5em;
  }
  .logo_link{
   
    color:rgb(191, 157, 4);
    text-decoration: none;
    font-size: 18px;
    font-family: 'VT323', monospace;
    font-weight: bold;
    margin: left;
  }
  .list, .link{
    display: inline;
    margin: 49px;
    color:rgb(191, 157, 4) ;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'VT323', monospace;
  }
  #msg_box{
    margin-top: 11em;
   /* margin-left: 25%;*/
    color: white;
   
  }
  .apple{
    font-size: 40px;
    font-weight: 500;
    font-family: 'VT323', monospace;
    animation: effect 2s linear infinite; 
    font-size: 60px;
  }
/*FINE PRIMO BLOCCO PAGINA*/  

/*INIZIO CARRELLATA PRODOTTI*/
.main_display{
    width: 100%;
  }
  
  .img4{
    width: 25em;
    margin: 40px;
    height: 31em;
    background-size: cover;
    background-repeat: no-repeat;

  }
  #flex{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .caption_{
    text-align: center;
    font-weight: 475;
    font-family: 'VT323', monospace;
    font-size: 35px;
  }
  .caption_1{
    text-align: right;
    font-weight: 475;
    font-family: 'VT323', monospace;
    font-size: 35px;
  }
  .sale{
    animation-name: zoom;
    animation-duration: 3s;
  }
.new_arr{
    font-size: 80px;
    font-weight: 600;
    margin-bottom: -3%;
    text-align: center;
    color: #010653;
    font-family: 'VT323', monospace;
  }
  .new_arr1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: -7%;
    margin-right: 2em;
    text-align: right;
    color: rgb(120, 4, 4);
    font-family: 'VT323', monospace;
  }
  .new_arr2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -7%;
    margin-left: 35em;
    text-align: left;
    color: #000000;
    font-family: 'VT323', monospace;
  }
  .new_arr3{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -2%;
    margin-right: 10em;
    text-align: right;
    color: rgb(191, 157, 4);
    font-family: 'VT323', monospace;
  }
  .new_arr4{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -2%;
    margin-right: 8em;
    text-align: right;
    color: rgb(191, 157, 4);
    font-family: 'VT323', monospace;
  }
  .new_arr5{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -2%;
    margin-right: 9.2em;
    text-align: right;
    color: rgb(191, 157, 4);
    font-family: 'VT323', monospace;
  }
  .new_arr6{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -2%;
    margin-right: 10.5em;
    text-align: right;
    color: rgb(191, 157, 4);
    font-family: 'VT323', monospace;
  }
  .new_arr7{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -2%;
    margin-right: 10.2em;
    text-align: right;
    color: rgb(191, 157, 4);
    font-family: 'VT323', monospace;
  }
  
  
  
  /*FINE PRODOTTI*/


 /*INIZIO RESI E SPEDIZIONI*/

 #features{
  background-color: white;
  width: 100%;
  padding: -5px;
}
.overall{
  display: flex;
  margin: 1.5em;
}
.icon, .info{
  margin: 10px;
}
#feat{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.uppercase{
  font-weight: 500;
  font-size: 20px;
  font-family: 'VT323', monospace;
}
.light{
  font-size: 16px;
  color: #7c7c7c;
  font-family: 'VT323', monospace;
}
#footer_box{
  color: white;
  width: 100%;
 padding: 20px;
  padding-top: 6%;
 margin-left: -0.6em;
  margin-right: 0;
  margin-bottom: -3%;
  background-color:#010653 ;
}
.block_links{
  display: block;
  color: #949494;
  margin: 2px;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
/**/

.space{
  font-family: 'VT323', monospace;
  display: flex;
  justify-content: center;
  margin: 2%;
}
.other_links{
  margin: 1.6em;

}
/*.img_links{
  margin-left: 20%;
}*/
.bold{
  font-family: 'VT323', monospace;
  font-size: 25px;
  line-height: 3em;
}
.copy{
  font-size: small;
  color: rgb(155, 155, 155);
  margin-left: 5%;
}
#extras{
  margin-top: 2%;
}
.pay{
  float: right;
  margin-top: -2.3em;
  margin-right: 10%;
}
.fa-retweet, .fa-lock, .fa-tag, .fa-truck{
  color: rgb(252, 163, 61);
}
.drawer_icon{
  display: none;
}
.payments{
  width: 2.5em;
}

/*FINE RESI E SPEDIZIONI*/

/*BLOCCO FINALE*/
.s_foot {
  display: flex;
  justify-content: center;
  font-family: 'VT323', monospace;
  font-size: 30px;
  
}
#email{
  width: 22em;
  height: 1.7em;
  padding: 20px;
  border: none;
  border-radius: 1px;
  background-color:#FFF;
  margin: 0.5em;
  font-family: 'VT323', monospace;
}
#submit{
  width: 8em;
  padding: 22px;
  font-size: 18px;
  border-radius: 1px;
  border: none;
  color: white;
  background-color: #5e5e5e;
  font-weight: 600;
  margin: 0.5em;
  font-family: 'VT323', monospace;
}
#submit:hover{
  background-color: #4d4c4c;
}
#submit:active{
  transform: scale(0.9);
}
.inputs{
  display: flex;
  justify-content: center;
}
.want{
  text-align: center;
  font-size: 20px;
  font-family: 'VT323', monospace;
}
::placeholder{
  font-size: 15px;
}
hr{
  border: 0.1px solid #4d4c4c;
margin-left: -5%;
}
@media screen and (max-width: 2000px) {
	.titular .tagline {
		font-size: 45px;
		top: 30%;
	}
}
@media screen and (max-width: 1500px) {
	.titular .tagline {
		font-size: 43px;
		top: 10%;
	}
	.titular .subtitle {
		font-size: 23px;
		top: 15%;
	}
	.context h1 {
		margin-top: 0;
	}
	
	.context .line {
		width: 80%;
	}
}

@media screen and (max-width: 1000px) {
	.titular .tagline {
		font-size: 30px;
		top: 8%;
	}
	.titular .subtitle {
		font-size: 18px;
		top: 16%;
	}
	.titular .btn {
		margin-top: 300px;
		font-size: 12px;
		padding: 10px 20px;
	}
}
/* MEDIA QUERY FOT RESPONSIVE WEB PAGE */
@media (max-width: 1050px) {
  .nav_f, .nav_s, .icons {
     
      display: none;
  }
  .second_h{
      display: inline;
      
  }
 .logo_area{
  padding-left: 10em;
  
}
 .drawer_icon{
  display: inline;
  float: right;
  margin-top: -3em;
  padding-right: 5%;
 }
  
}
@media (max-width: 900px) {
  .pro{
      width: 28%;
      height: 12em;   
  }
  .content{
      overflow-x: scroll;
      overflow-y: hidden;
      
  }
  
  
     #feat{
      flex-direction: column; 
      padding: 20px;    
  }
  .overall{
      margin: 0.1em;
      margin-left: 10%;
  }

   .s_foot {
      flex-direction: column;
      align-items: flex-start;
   }
}
@media (max-width: 700px) {
  .first_box {
      width: 90%;
      margin-left: 5px;
  }
  .pro10{
      width: 100%;
  }

  .blog_post_box{
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  .blog{
      width: 73%;
 
  }
   #grid_f{
      flex-direction: column;
      align-items: center;
   }
   .pro{
      width: 95%;
      margin: 10px;
      height: 17em;
   }
   .copy{
      width: 40%;
   }
   .pay{
      margin-right: 2%;
   }
  }
@media (max-width: 500px) {
  .blog{
      width: 90%;
    text-align: center;
  }
  .other_links{
      margin: 0.3em;
  }
}
#shoplink{
  text-decoration: none;
  color:  rgb(191, 157, 4);
}
#display_pro{
    margin-left: -30%;
    margin-top: 4%;
    width: 100%;
}
#display_pro2{
    margin-top: -50%;
    width: 100%;
}
#display_pro1{
    margin-top: 2%;
    width: 100%;
     }
     #display_pro3{
      margin-top: -30%;
      width: 100%;
  }
#img1{
    background-image: url(https://m.media-amazon.com/images/I/51c1v+hivAL._AC_SX679_.jpg);
  }
  #img2{
    background-image:url(https://cdn.discordapp.com/attachments/959399283428294696/1075088247216148490/output-onlinepngtools_3_2.png);
  }
  .img{
    width: 21em;
    margin-top: 50px;
    height: 26em;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sale_tag{
    float: left;
    border: 2px solid rgb(233, 210, 79);
    color: rgb(233, 210, 79);
    padding: 5px;
    margin: 0.5em;
    font-size: small;
    font-family: 'VT323', monospace;
  }
  .caption_{
    text-align: center;
    font-weight: 500;
    font-family: 'VT323', monospace;
    font-size: 20px;
  }
  .cancelled{
    color: grey;
    text-decoration: line-through;
  }
  .new{
    color: rgb(233, 210, 79);
  }
  .titular .btn {
	font-size: 30px;
	font-weight: 400;
	font-family: 'VT323', monospace;
	color: white;
	border: none;
	border-radius: 5px;
	position: absolute;
  margin-top: 60px;
  left: 60%;
  transform: translate(-50%, -50%);
	padding: 12px 25px;
  cursor: pointer;
	background-color: #010653;
}
.titular .btn {
  margin-top: -460px;
  font-size: 20px;
  padding: 18px 80px;
  margin-left: -39%;
}