body {
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: #f5f5f5;
}

/* Home Page */

.titular .tagline {
	font-size: 125px;
	color: #FFF;
	font-family: 'VT323', monospace;
	position: absolute;
  margin-top: 200px ;
 	left: 50%;
 	transform: translate(-50%, -50%);
	animation: effect 2s linear infinite; 
	text-shadow: 1px 1px 4px #000000;
}

 .tagline1 {
	font-size: 104px;
	color: #FFF;
	font-family: 'VT323', monospace;
	position: absolute;
  margin-top: -510px ;
 	left: 50%;
 	transform: translate(-50%, -50%);
	animation: effect 2s linear infinite; 
	text-shadow: 1px 1px 4px #000000;
}


@keyframes effect { 
	0% { 
		color: rgb(191, 157, 4);
		-webkit-background-clip: text;
	} 
	100% { 
		color:#010653; 
		-webkit-background-clip: text; 
	} 
} 

.titular .subtitle {
	font-size: 25px;
	color: #FFFFFF;
	font-family: Bahnschrift;
	position: absolute;
	margin-top: 210px;;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: 1px 1px 4px #00000000;
}


.titular .btntop:hover {
	background-color: #FFF;
	color: rgb(0,35,51);
	cursor: pointer;
}

.titular .btn {
	font-size: 30px;
	font-weight: 400;
	font-family: 'VT323', monospace;
	color: white;
	border: none;
	border-radius: 5px;
	position: absolute;
  margin-top: 510px;
  left: 50%;
  transform: translate(-50%, -50%);
	padding: 12px 25px;
  cursor: pointer;
	background-color: rgb(120, 4, 4);
}

.titular .bg {
	width: 100%; 
	height: 100%;
	opacity: 70%;
}

/*Blocco di pagina con scritto "Chi Siamo?"*/
.context {
    width: 100%;
    position: absolute;
    top: 1000px;   
}

.context h1{
	text-align: center;
	color: #FFF;
	margin-top: auto;
	font-size: 100px;
	font-family: 'VT323', monospace;
	vertical-align: center;
}

.context p {
	text-align: center;
  color: #FFF;
  font-size: 30px;
  font-family: 'VT323', monospace;
}

.context .line {
	border-radius: 25px;
 	background: rgb(120, 4, 4);
  padding: 6px;
 	width: 1000px;
 	height: 3px;
	
}
/*Fine Blocco*/



/* Animazione bolle */
.area {
	background:#010653;
	width: 100%;
	height: 100vh;
	display: flex;
  justify-content: center;
  align-items: center;
}

.circles{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.circles li{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background:rgb(191, 157, 4);
	animation: rise 25s linear infinite;
	bottom: -150px;
	border-radius: 50%;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes rise {
	0%{
		transform: translateY(0);
		opacity: 1;
	}
	100%{
		transform: translateY(-1000px);
		opacity: 0;
	}
}
/*Fine animazione*/

/* Image Gallery */
.gallery h1 {
	text-align: center;
	color:#010653; 
	font-size: 50px;
	font-family: 'VT323', monospace;
	vertical-align: center;
}

/*Codici per inquadramento immagini brand*/
.grid {
	display: flex;
  justify-content: center;
}

.grid img {
	width: 15%;
	display: inline-block;
	margin: 20px auto;
}
.grid1 img {
	width: 13%;
	display: inline-block;
	margin: 10px;
	margin-top: -10px;
}
.grid2 img {
	width: 12%;
	display: inline-block;
	margin: 10px;
	margin-top: -15px;
}


/*Fine blocco*/


/* Footer */

/*Blocco codice spedizioni e resi*/
.footer{
	font-family:'VT323', monospace;
	font-size: 15px;
	color:#FFF;
	width:100%;
	display:flex;
	align-items:top;
	padding:1rem 0;
	background:rgb(191, 157, 4) ;
	}
	
	.footer section{
	padding:1rem 2rem;
	width:100%;
	vertical-align:top;
	}
	
	.footer section h3{
	color:var(--white);
	}
	
	.footer section a{
	color:#FFF;
	display:flex;
	align-items:center;
	white-space:nowrap;
	margin:15px 0;
	}
	
	.footer section a:hover{
	color:#010653;
	}
	
	.footer section:nth-child(2) a:before,.footer section:nth-child(3) a:before{
	content:"-";
	font-family:'VT323', monospace;
	margin-right:5px;
	color:var(--white);
	}
	
	.footer section a span{
	margin:0 10px;
	}
	
	.sub-footer{
	background-color:var(--black);
	text-align:Center;
	color:var(--gray);
	padding:1rem 0;
	}
	
	@media (max-width:1020px){
	.footer{
	display:block;
	}
	.footer section{
	padding:1rem 1rem;
	}
	.footer section:nth-child(2), .footer section:nth-child(3){
	width:49%;
	display:inline-block;
	}
	}
/*Fine Blocco*/


@media screen and (max-width: 2000px) {
	.titular .tagline {
		font-size: 45px;
		top: 30%;
	}
}
@media screen and (max-width: 1500px) {
	.titular .tagline {
		font-size: 43px;
		top: 10%;
	}
	.titular .subtitle {
		font-size: 23px;
		top: 15%;
	}
	.context h1 {
		margin-top: 0;
	}
	
	.context .line {
		width: 80%;
	}
}

@media screen and (max-width: 1000px) {
	.titular .tagline {
		font-size: 30px;
		top: 8%;
	}
	.titular .subtitle {
		font-size: 18px;
		top: 16%;
	}
	.titular .btn {
		margin-top: 330px;
		font-size: 12px;
		padding: 10px 20px;
	}
}